.pokemon__Types {
    position: left 25px;


}

/* body{
    text-transform: capitalize;
} */

#filterContainer {
    text-transform: capitalize;
}
/* body{
    background: url("./img/background.jpg");
    
}

main{
    margin: 0 15%;
    background: black;
    color: white;
} */
.pokePic{
width: 100px;
height: 100px;   
margin: auto; 
background-size: contain;
}
#modalImage{
    width: 30vh;
    height: 30vh;
    background-size: contain;
    border: 3px solid black;
}
#modalPokemonDialog {
    max-width: 70vh;
    margin-top: 10vh;
    text-transform: capitalize;

}
/* img {

    width: 300px;
    height: auto;

} */

* {
    box-sizing: border-box;
}

.container{
    padding-left: 0;
    padding-right: 0;
}
.checkDiv{
    padding: 0;
    margin: 0;
}